{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}


    <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-1">
        <div class="col-sm-6">
          <!-- <h1 class="m-0 text-dark">Add Employee</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add Employee</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) --> 
      <div class="row">
        <div class="col-md-12" style="margin:auto;">

            <div class="card card-dark" >
                <div class="card-header">
                    <h3 class="card-title">Employee Details</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-5">

                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name" value="">
                                </div>

                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter User Name" value="">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" value="">
                                </div>
                                <div class="form-group">
                                    <label for="mobile">Mobile Number</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter Phone Number" value="">
                                </div>
                                

                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name" value="">
                                </div>
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select name="gender" id="gender" class="form-control">
                                        
                                        <option value="" disabled selected> Select gender</option>
                                        <option value="F"> Female</option>
                                        <option value="M"> Male</option>
                                        
                                    </select>
                                </div>

                                <!-- <div class="form-group">
                                    <label for="dept">Department</label>
                                    <input type="text" class="form-control" id="dept" name="dept" placeholder="Enter Department" value="">
                                </div>  -->
                                
                                <!-- <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div> -->

                                <div class="form-group">
                                    <label for="member_since">Member Since</label>
                                    <input type="date" class="form-control" id="member_since" name="member_since" >
                                </div>

                                <div class="form-group">
                                    <label for="designation">Designation</label>
                                    <select name="designation" id="designation" class="form-control">
                                        {% for designation in desig %}
                                        <option value="{{ designation.id }}"> {{ designation.title }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                
                                    <label for="profile_image">Profile Image</label>
                                    <div class="dash-picture">
                                        <img id="preview_img" src="https://www.w3adda.com/wp-content/uploads/2019/09/No_Image-128.png" class="" width="100%" height="" style="display: block;">
                                    </div>
                                    <div class="input-group" style="">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input dash-browse file" id="profile_image" name="profile_image" onchange="loadPreview(this);">
                                            <label class="custom-file-label" for="profile_image">Choose file</label>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- {{ form|crispy }} -->
                        
                    </div>
                <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>

        </div>
      </div>
   
    </div>
    <!-- /.container-fluid -->
  </section>
 

{% endblock %}