{% extends "base.html" %}

{% block content %}


<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-3">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
         
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Filter <i class="fa fa-caret-down pl-4"></i></button>
            <div id="myDropdown" class="dropdown-content">
              <a class="dropdown-item {% if today_clock_in_count %}active{% endif %}" href="{% url 'today' %}">Today</a>
              <a class="dropdown-item {% if yesterday_clock_in_count %}active{% endif %}" href="{% url 'yesterday' %}">Yesterday</a>
              <a class="dropdown-item {% if last_week_clock_in_count %}active{% endif %}" href="{% url 'last_7_days' %}">Last 7 Days</a>
              <!-- <a class="dropdown-item" href="">Last 30 Days</a>
              <a class="dropdown-item" href="">This Month</a>
              <a class="dropdown-item" href="">Last Month</a> -->
              <a class="dropdown-item {% if record_day_clock_in %}active{% endif %}" href="#" id="custom_link">Custom Range</a>
            
              
            </div>
          </div>

          {% if today_clock_in_count or today_clock_out_count %}
            {{ today }}
            
          {% elif yesterday_clock_in_count %}
            {{ yesterday }}

          {% elif last_week_clock_in_count %}
            {{ last_week }} - {{ yesterday }}

          {% elif record_day_clock_in %}
            {{ start_date }} - {{ end_date }}

          {% endif %}

          
          <form action="{% url 'custom_range' %}" method="GET" class="inline-forn" id="custom_form" style="display: none;">
           
            <div class="row">
             
                <div class="col-md-5">
                  <div class="form-group">
                    <!-- <label for="start_date">Start Date</label> -->
                    <input type="date" name="start_date" class="form-control" id="start_date">
    
                  </div>
                </div>


                <div class="col-md-5">
                  <div class="form-group">
                    <!-- <label for="end_date">End Date</label> -->
                    <input type="date" name="end_date" class="form-control" id="end_date">
                  </div>
                 
               </div>
               <div class="col-md-1">
                <button type="submit" class="btn btn-sm btn-dark">Search</button>
              </div>
                
              
            </div>
           
          </form>

        </div><!-- /.col -->
        <div class="col-sm-3">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
     

      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ employee_count }}</h3>

              <p>Employees</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <a href="{% url 'all_employees' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>
                {% if clock_in_count %}
                  {{ clock_in_count }}

                {% elif today_clock_in_count %}
                  {{ today_clock_in_count }}

                {% elif yesterday_clock_in_count %}
                  {{ yesterday_clock_in_count }}

                {% elif last_week_clock_in_count %}
                  {{ last_week_clock_in_count }}

                {% elif record_day_clock_in %}
                  {{ record_day_clock_in}}
                {% else %}
                  0
                {% endif %}
              </h3>

              <p>Clock Ins</p>
            </div>
            <div class="icon">
                <i class="fa fa-user-plus"></i>
            </div>
            <a href="
                {% if clock_in_count %}
                  {% url 'gen_attend' %}
                {% elif today_clock_in_count %}
                  {% url 'gen_attend' today %}
                {% elif yesterday_clock_in_count %}
                  {% url 'gen_attend' yesterday %}
                {% elif last_week_clock_in_count %}
                  {% url 'gen_attend' last_week yesterday %}
                {% elif record_day_clock_in %}
                  {% url 'custom_gen_attend' start_date end_date %}
                {% endif %}
            " class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>

                {% if clock_out_count %}
                  {{ clock_out_count }}

                {% elif today_clock_out_count %}
                  {{ today_clock_out_count }}

                {% elif yesterday_clock_out_count %}
                  {{ yesterday_clock_out_count }}

                {% elif last_week_clock_out_count %}
                  {{ last_week_clock_out_count }}

                {% elif record_day_clock_out %}
                  {{ record_day_clock_out}}

                {% else %}
                  0
                {% endif %}

              </h3>

              <p>Clock Outs</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-minus"></i>
            </div>
            <a href="
                {% if clock_out_count %}
                  {% url 'gen_attend' %}
                {% elif today_clock_out_count %}
                  {% url 'gen_attend' today %}
                {% elif yesterday_clock_out_count %}
                  {% url 'gen_attend' yesterday %}
                {% elif last_week_clock_out_count %}
                  {% url 'gen_attend' last_week yesterday %}
                {% elif record_day_clock_out %}
                  {% url 'custom_gen_attend' start_date end_date %}
                {% endif %}
            " class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3></h3>

              <p>Late</p>
            </div>
            <div class="icon">
              <i class="fa fa-stopwatch"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3></h3>

              <p>Completed Tasks</p>
            </div>
            <div class="icon">
                <i class="fas fa-tasks"></i>
            </div>
            <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3><sup style="font-size: 20px"></sup></h3>

              <p>Pending Tasks</p>
            </div>
            <div class="icon">
                <i class="fas fa-times-circle"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
       
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
    
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
 

{% endblock %}