{% extends "base.html" %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5 class="m-0 text-dark">Add Task to {{ employee.last_name }} {{ employee.first_name }}</h5>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Task</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-5" style="margin: auto;">
            <div class="card card-dark" >
                <div class="card-header">
                    <h3 class="card-title">Add Task</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="" method="POST" id="" class="form p-2">
                    {% csrf_token %} 
                    
                    <div class="form-group">
                      <input type="text" class="form-control" name="employee_id" id="" value="{{ employee.id }}" hidden>
                      <!-- <input type="hidden" name="action" id="action" value="Add" > -->
                      <!-- <input type="text" name="status" id="" value="0" hidden> -->
                      <input type="text" name="task" class="form-control" id="item" value="" placeholder="Enter Task Here">
                    
                    </div>

                    <div class="form-group">
                     <select name="priority" id="" class="form-control">
                        <option value="Urgent">Urgent</option>
                        <option value="High">High</option>
                        <option value="Medium" selected>Medium</option>
                        <option value="Low">Low</option>
                      </select>

                    </div>
                    <span id="form_result"></span>
                    <a href="{% url 'view_employee' employee.id %}" class="btn btn-dark btn-sm"><i class="fas fa-arrow-left"></i> Back</a>
                    <button type="submit" class="btn btn-dark btn-sm float-right">Add</button>

                  </form>
            </div>
        </div>

       
      </div>
   
    </div>
    <!-- /.container-fluid -->
  </section>

{% endblock %}