{% extends "base.html" %}

{% block content %}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Employee Details</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                  src="{{ employee.profile_image.url }}"
                     alt="User profile picture" height="10px">
              </div>
              <p class="profile-username text-center text-success"><em>{{ employee.username }}</em></p>
              <h3 class="profile-username text-center">{{ employee.last_name }} {{ employee.first_name }}</h3>

              <p class="text-muted text-center">{{ employee.designation.title }}</p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                
                {% if employee.profile.status == 'Signed In' %}
                <b>Currently </b><span class=" badge badge-success float-right">{{ employee.profile.status }}</span>
                {% endif %}

                {% if employee.profile.status == 'Signed Out' %}
                <b>Currently </b><span class=" badge badge-warning float-right">{{ employee.profile.status }}</span>
                {% endif %}
                </li>

                <li class="list-group-item">
                 
                  <b>Tasks </b><span class=" badge badge-warning float-right"> Pending</span>
              
                  
                </li>

                <li class="list-group-item">
               
                  {% if user.profile.status == 'Signed Out' %}
                  <b>Signed Out </b><span class="time float-right"><i class="far fa-clock"></i>{{ user.profile.attendance_time }} </span>
                  {% endif %}

                  {% if user.profile.status == 'Signed In' %}
                  <b>Signed In </b><span class="time float-right"><i class="far fa-clock"></i> {{ user.profile.attendance_time }}</span>
                  {% endif %}
                </li>

               
                <!-- <li class="list-group-item">
                 
                  <b>Forgot to Sign Out </b>
                  <span class="time float-right">
                    <form action="" method="POST" class="" style="margin:auto;">
                    
                      <input type="text" name="hr_approve" id="hr_approve" value="1" hidden>
                      <button class="btn btn-dark btn-sm float-right">HR Sign Out</button>
                     
                  </form>
                  </span>
                 
                </li> -->

                
              
                
                <!-- <li class="list-group-item">
                  
                  <b>Currently  </b><span class=" badge badge-warning float-right">Stepped out</span>
                
                  
                </li>  -->
                <!-- <li class="list-group-item">
                  <b>Stepped out </b><span class="time float-right"><i class="far fa-clock"></i> </span>
                  <p>Check Tab for details </p>
                </li> -->
              </ul>
             
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

      
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-3 row">
              <ul class="nav nav-pills col-md-11">
                <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Attendance Timeline</a></li>
                <li class="nav-item"><a class="nav-link " href="#step" data-toggle="tab">Stepping In/Out</a></li>
                <li class="nav-item"><a class="nav-link " href="#to-do-list" data-toggle="tab">Tasks</a></li>
                <li class="nav-item"><a class="nav-link " href="#details" data-toggle="tab">Details</a></li>
                <li class="nav-item"><a class="nav-link " href="#edit-employee" data-toggle="tab">Edit Employee</a></li>
               
              </ul>
              <span class="col-md-1 float-right">
               
                    <a href="{% url 'delete_employee' employee.id %}"  class="btn btn-sm">
                      <i class="fa fa-trash text-danger"></i>
                    </a>

              
              </span>

            </div><!-- /.card-header -->
            
            <div class="card-body">
              <div class="tab-content">
            
                <div class=" active tab-pane" id="timeline">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    <!-- timeline time label -->
                     <!-- <div class="time-label">
                      <span class="bg-info">
                        10 Feb. 2014
                      </span>
                    </div>  -->
                  
                    <!-- timeline item -->
                    {% for attend in attendance %}
                    {%if attend.status == 'Signed In' %}
                      
                   
                      <div>
                        <i class="fas fa-user bg-success"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> {{ attend.created }}</span>

                          <p class="timeline-header border-0 badge badge-success text-white">{{ attend.status }}</p>
                        </div>
                      </div>
                      {% else %}
                    <div>
                      <i class="fas fa-user bg-warning"></i>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> {{ attend.created }}</span>

                        <p class="timeline-header border-0 badge badge-warning">{{ attend.status }}</p>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  
                    <!-- END timeline item -->
                 
                   
                    <div>
                      <i class="far fa-clock bg-gray"></i>
                    </div>
                  </div>
                  
                </div>
                <!-- /.tab-pane -->

                <div class=" tab-pane" id="step">
                  <div class="timeline">
                  
                    <!-- timeline item -->
                    
                    <div>
                      <i class="fas fa-walking bg-blue"></i>
                      <div class="timeline-item">
                        <span class="time"><i class="fas fa-clock"></i>  </span>
                        <h3 class="timeline-header"><a href="#"> </a> stepped out</h3>
      
                        <div class="timeline-body">
                         

                       
                         <span class="time badge badge-warning">Yet to return!</span>

                         
                        <span class="time badge badge-success text-white "> Returned: <i class="fas fa-clock"></i> </span>

                        

                        </div>
                      
                      </div>
                    </div>
                    
                    <!-- END timeline item -->
                
               
                </div>
                  <!--  <div class="row">
                    <div class="col-md-3 col-sm-6 col-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="far fa-clock"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Clocked In</span>
                          <span class="info-box-number">21</span>
                        </div>
                        
                      </div>
                      
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="far fa-flag"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Clocked Out</span>
                          <span class="info-box-number">21</span>
                        </div>
                       
                      </div>
                     
                    </div>
                   
                    <div class="col-md-3 col-sm-6 col-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-warning"><i class="far fa-calendar"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Working Days</span>
                          <span class="info-box-number">21</span>
                        </div>
                       
                      </div>
                     
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Late Days</span>
                          <span class="info-box-number">9</span>
                        </div>
                        
                      </div>
                     
                    </div>
                    
                     <div class="col-md-3 col-sm-6 col-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Forgot to Sign Out</span>
                          <span class="info-box-number">9</span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                 
                 
                </div>
                <!-- /.tab-pane -->

                <div class=" tab-pane" id="to-do-list">
                  <div class="row">
                  
                    <div class="col-md-12">
                        <ul class="todo-list" data-widget="todo-list">
                          {% for task in tasks %}
                            <li>
                            
                                <!-- checkbox -->
                                <div  class="icheck-primary d-inline ml-2">
                                  <input type="checkbox" value="" name="" id="" {% if task.status == 1 %} checked {% endif %}>
                                  <!-- <label for=""></label>  -->
                                </div>
                                <!-- todo text -->
                                <span class="text">{{ task.task }}</span>
                                <!-- Emphasis label -->
                                <small class="badge badge-secondary"><i class="far fa-clock"></i> {{ task.created }}</small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                
                                  <form action="{% url 'update_task' task.id %}" method="POST" style=" display:inline;">
                                    {% csrf_token %} 
                                      <input type="text" name="employee_id" id="employee_id" value="{{employee.id}}" hidden> 
                                      <input type="text" name="status" id="status" value="{% if task.status == 1 %}0{% else %}1{% endif %}" hidden>
                                      <button class="btn" title="{% if task.status == 1 %}Mark as incomplete{% else %}Mark as complete{% endif %}"><i class="fas fa-{% if task.status == 1 %}times{% else %}check{% endif %}"></i> </button>
                                    
                                  </form>
                                  <form action="{% url 'delete_task' task.id %}" method="POST" style="display:inline;">
                                    {% csrf_token %} 
                                      <button class="btn" id="confirm">
                                        <i onclick="return confirm('Deleting To-Do Item. Are you sure?')" class="fas fa-trash"></i>
                                      </button>
                  
                                  </form>
                                </div>

                            </li>
                       
                          {% endfor %}
                         
                        
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <a href="{% url 'add_task' employee.id %}" class="btn btn-dark btn-sm float-right mt-1"><i class="fas fa-plus"></i> Add Task</a>
                    </div>

                   
                 
                  </div>
                </div>

                <div class=" tab-pane" id="details">
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                          <b>Email Address:</b> <span class="time float-right"> {{ employee.email }}</span>
                        </li>
                        <li class="list-group-item">
                          <b>Member Since: </b> <span class="time float-right"> {{ employee.member_since|date:"jS M, Y " }}</span>
                        </li>
                        <li class="list-group-item">
                          <b>Office Hours: </b> <span class="time float-right"> {{ employee.designation.time_in }} - {{ employee.designation.time_out }}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                          <b>Mobile Number:</b> <span class="time float-right"> {{ employee.mobile }}</span>
                        </li>
                        <li class="list-group-item">
                          <b>Gender: </b> <span class="time float-right"> {{ employee.gender }}</span>
                        </li>
                        <li class="list-group-item">
                          <b>Lateness Benchmark: </b> <span class="time float-right"> {{ employee.designation.lateness_benchmark }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                 
                </div>

                <div class=" tab-pane" id="edit-employee">
                  <form action="{% url 'update_employee' employee.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name" value="{{ employee.first_name }}">
                        </div>
                        <div class="form-group">   
                          <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter mobile Number" value="{{ employee.mobile }}">
                        </div>
                        <div class="form-group">
                        
                          <select name="gender" id="gender" class="form-control">
                            
                              <option value="Female" {% if employee.gender == 'F' %} selected {% endif %}> Female</option>
                              <option value="Male" {% if employee.gender == 'M' %} selected {% endif %}> Male</option>
                            
                          </select>
                        </div>
                      
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name" value="{{ employee.last_name }}">
                        </div>
                        <div class="form-group">                     
                          <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email Address" value="{{ employee.email }}">
                        </div>
                        <div class="form-group">
                          <select name="designation" id="designation" class="form-control">
                            {% for designation in designations %}
                            <option value="{{ designation.id }}" {% if employee.designation_id == designation.id %} selected {% endif %} > {{ designation.title }}</option>
                            {% endfor %}
                           
                          </select>
                        </div>
                        <div class="form-group">                     
                          <input type="date" class="form-control" id="member_since" name="member_since"  value='{{ employee.member_since|date:"Y-m-d" }}'>
                        </div>
                        <div class="form-group">                     
                          <button type="submit" class="btn btn-dark float-right">Update</button>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                                
                          <label for="profile_image">Profile Image</label>
                          <div class="dash-picture">
                              <img id="preview_img" src="{{ employee.profile_image.url }}" class="" width="50%" height="" style="display: block;">
                          </div>
                          <div class="input-group" style="">
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input dash-browse file" id="profile_image" name="profile_image" onchange="loadPreview(this);">
                                  <label class="custom-file-label" for="profile_image">Choose file</label>
                              </div>
                          
                          </div>
                      </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
    
    <!-- /.container-fluid -->
  </section>


{% endblock %}